*{
       margin: 5px;
       padding: 0;;

}

.one{
       width: 90px;
       height: 90px;
       display: flex;
       background-color: #eee;
       overflow: visible;
          
}

body{
       background-color: beige;
}
h1{
       

       font-size: 46px;
       text-align: center;
       justify-content: center;
       font-family: Georgia, 'Times New Roman', Times, serif;

       
}

.textArea{
       background-color: chartreuse;
}
p{
       margin: 10px;
       margin-top: 5px;
       
       border: 2px solid blue;
       padding: 10px;
}


[border] {
       background-color: slateblue;
}
blockquote{
       border: 3px solid;
       margin: 5px;
       padding: 7px;
}
footer{
       background-color: grey;
       border: groove;
}



      
}
a:hover { 
       background: rgba(238, 13, 13, 0.75); 
       }
form{
              
}
header{
       overflow: hidden;
       background-color: #f1f1f1;
       padding: 0px 10px;  
       height: 200px;
       
}

.title{
       display: flex;
       justify-content: space-between;
       background-color: paleturquoise;

       align-items: center;

}

.imgOne{
       width: 150px;
       height: 100px;
       float: left;
       
     
       
}

section{
       width: 100%;
       display: flex;
       padding: 7px;

}
.imgTwo{
       width: 150px;
       height: 100px;
       float: left;
}
.header a:hover {
       background-color: #ddd;
       color: black;
     }
li{
       display: flex;
       display: inline-block;
       background-color: ivory;
       justify-content: space-between;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       font-size: 23px;
}
nav{
       background-color: ;

}
.background{
       width: 900px;
       height: auto;
       padding: 0px;
       margin-right: 0px;
}