*{
       margin: 5px;
       padding: 0;;

}

.one{
       width: 90px;
       height: 90px;
       display: flex;
       background-color: #eee;
       overflow: visible;
          
}

body{
       background-color: beige;
}
h1{
       

       font-size: 46px;
       text-align: center;
       justify-content: center;
       font-family: Georgia, 'Times New Roman', Times, serif;

       
}

.textArea{
       background-color: chartreuse;
}
p{
       margin: 10px;
       margin-top: 5px;
       
       border: 2px solid blue;
       padding: 10px;
}
#textOne{
       
      text-align: justify;
      
      
       
       
       
}
#textTwo{
       color: darkviolet;
       color: rgba(74, 134, 138, 1);
       text-shadow: 2px 3px 4px grey;
       
}
.textThree{
       background-color: rgba(74, 134, 138, 1);
       box-shadow: 4px 4px 4px greenyellow;
}
[border] {
       background-color: slateblue;
}
blockquote{
       border: 3px solid;
       margin: 5px;
       padding: 7px;
}
footer{
       background-color: grey;
       border: groove;
}


nav a{
       text-decoration: none;
       
       
}
form{
              
}
header{
       
}
ul {
       list-style: none;
}
.title{
       display: flex;
       justify-content: space-between;
       background-color: paleturquoise;

       align-items: center;

}

.imgOne{
       width: 150px;
       height: 100px;
       float: left;
       
     
       
}

section{
       width: 100%;
       display: flex;
       padding: 7px;

}
.imgTwo{
       width: 150px;
       height: 100px;
       float: left;
}
